#body {
  >header {
    background: $accent;

    &, .nav-item {
      color: $white;
    }

    .dropdown-item {
      color: $black;
    }
  }

  >nav {
    p {
      background-color: $blue;
      border-color: $blue;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba($blue, .5);
      }

      &, a {
        color: #fff !important;
      }
    }
  }
}

.light-theme {
  color: rgb(77, 77, 77);
  background-color: $white;

  .controls,
  .tts-controls {
    background-color: $white;
  }

  a,
  a:any-link {
    color: $light-blue;
  }
  
  hr {
    background-color: rgb(77, 77, 77);
  }

  .breadcrumb {
    background-color: var(--bs-dark);

    &,
    & .breadcrumb-item,
    & .breadcrumb-item.active {
      color: $white;
    }
  }

  header,
  nav,
  footer {
    .h1 {
      color: $primary;
    }
  }

  .interface {
    background-color: $buttonface;
  }

  .handwriting {
    border: 1px rgb(77, 77, 77) solid;
  }
}

.dark-theme {
  color: $white;
  background-color: $black;
 
  .controls,
  .tts-controls {
    background-color: $black;
  }
  
  a,
  a:any-link {
    color: $light-blue;
  }
  
  .breadcrumb {
    background-color: var(--bs-light);

    .breadcrumb-item,
    .breadcrumb-item.active {
      color: $black;
    }

    a,
    a:any-link {
      color: mix($blue, $light-blue, 30%);
    }
  }

  > header {
    background-color: $accent;
  }

  hr {
    background-color: rgb(191, 191, 191);
  }

  footer,
  header,
  nav {
    color: rgb(191, 191, 191);

    .h1 {
      color: $white;
    }
  }

  .interface {
    background-color: #171717;
    border-color: mix($buttonface, $black, 20%);
    h3:first-child, p:only-child {
      &, a:link, a:hover, a:active, a:visited {
        background-color: $primary !important;
      }
    }
  }

  .invert-on-dark {
    filter: invert(100%);
    background: transparent;
  }

  .handwriting {
    border: 1px rgb(191, 191, 191) solid;
  }

  h1, .h1, h2, .h2, h3 {
    text-shadow: 0 0 80px rgba(192, 219, 255, 75%), 0 0 32px rgba(65, 120, 255, 24%);
  }
}

.policy-banner {
  background-color: var(--bs-dark);

  p {
    color: #fff !important;
  }
}

.interface {
  >p:first-child,
  >h2:first-child,
  >h3:first-child,
  >script:first-child + p,
  >script:first-child + h2,
  >script:first-child + h3 {
    &,
    span * {
      background-color: var(--bs-blue);
      color: $white;

      a {
        color: $white;
      }
    }
  }

  >h3 a {
    background-color: var(--bs-blue);
    color: $white;
  }
}

.btn-primary,
.btn-primary:any-link {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, .5);
    color: $white !important;
  }
}

.btn-red {
  background-color: $red;
  border-color: $red;
  color: $white;
  
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($red, .5);
    color: $white !important;
  }
}

.btn-green {
  background-color: $green;
  border-color: $green;
  color: $white !important;
  
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($green, .5);
    color: $white !important;
  }
}

#body > footer {
  background: var(--bs-dark);
  color: $white !important;
}

.btn-patreon,
.btn-patreon:any-link {
  background-color: $patreon !important;
  border-color: $patreon !important;
  color: $white !important;
  
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($patreon, .5);
    color: $white !important;
  }
}

.btn-dark,
.btn-dark:any-link {
  background-color: var(--bs-dark) !important;
  border-color: var(--bs-dark) !important;
  color: $white !important;
}

:root {
  --red: #{$red};
  --danger: #{$red};
  --green: #{$green};
  --blue: #{$blue};
}
