$red:          rgb(156,  44,  44);
$patreon:      #ff424d;
$blue:         rgb( 44, 100, 156);
$light-blue:   rgb( 87, 158, 228);
$green:        rgb( 44, 156, 100);
$white:        rgb(255, 255, 255);
$grey:         rgb(127, 127, 127);
$black:        rgb( 33,  33,  33);

$buttonface:   rgb(240, 240, 240);

$accent:  $red;
$primary: $blue;
