* {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Source Sans 3", "Source Sans Pro", "Noto Sans", Roboto, "Segoe UI", sans-serif;
  // Altenative I, dotted zero
  font-feature-settings: "ss01", "ss10";
}

.unicode-icon, .button a span {
  font-family: emoji;
}

h1, .h1, h2, .h2, h3 {
  font-family: "Cardo", "Source Serif Pro", "Noto Serif", serif;
  font-feature-settings: "dlig";
}

.handwriting {
  font-family: "Alexa", cursive;
}

.inscription {
  font-family: "Cardo", "Source Serif Pro", "Noto Serif", serif;
  font-feature-settings: "hlig", "hist";
  margin: 0 4rem 1rem;
}

.hist, .long-s {
  font-feature-settings: "hist", "hlig";
}
