@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cardo Regular'),
       local('Cardo-Regular'),
       url(https://0xreki.de/assets/fonts/Cardo-Regular.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/Cardo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cardo Bold'),
       local('Cardo-Bold'),
       url(https://0xreki.de/assets/fonts/Cardo-Bold.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/Cardo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans 3 Regular'),
       local('SourceSans3-Regular'),
       url(https://0xreki.de/assets/fonts/SourceSans3-Regular.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/SourceSans3-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans 3 Italic'),
       local('SourceSans3-It'),
       url(https://0xreki.de/assets/fonts/SourceSans3-It.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/SourceSans3-It.ttf) format('truetype');
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans 3 Bold'),
       local('SourceSans3-Bold'),
       url(https://0xreki.de/assets/fonts/SourceSans3-Bold.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/SourceSans3-Bold.ttf) format('truetype');
}

@font-face {
  font-family: emoji;
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"),
       local("Segoe UI Symbol"),
       local("Noto Color Emoji"),
       local("EmojiOne Android");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OpenDyslexic Regular'),
       local('OpenDyslexic-Regular'),
       url(https://0xreki.de/assets/fonts/OpenDyslexic-Regular.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/OpenDyslexic-Regular.otf) format('opentype');
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('OpenDyslexic Italic'),
       local('OpenDyslexic-Italic'),
       url(https://0xreki.de/assets/fonts/OpenDyslexic-Italic.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/OpenDyslexic-Italic.otf) format('opentype');
}

@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Orbitron'),
       local('Orbitron-Regular'),
       url(https://0xreki.de/assets/fonts/Orbitron-Regular.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/Orbitron-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Alexa";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alexa'),
       local('alexa-std'),
       url(https://0xreki.de/assets/fonts/Alexa.woff2) format('woff2'),
       url(https://0xreki.de/assets/fonts/Alexa.ttf) format('truetype');
}
