<h1 aria-label="Chapter {{ page.chapter }}: {{ page.title }}{% if page.title_postfix %}, {{ page.title_postfix }}{% endif %}" class="p-name">
    {{ page.title }}
</h1>

<div class="icons shields justify-content-start">
    {% capture share_title %}{{ page.book.series }} {{ page.book.number }}-{{ page.chapter }}: {{ page.title }}{% endcapture %}
    {% if page.pixiv %}
    <a title="{{ share_title }} on Pixiv" href="{{ page.pixiv }}" target="_blank" rel="noopener alternate">
        <img loading="lazy" src="{{ "/proxy/shields/-/pixiv/shield.svg" | absolute_url }}" alt="Pixiv" width="64" height="64">
    </a>
    {% endif %}
    {% if page.royalroad %}
    <a title="{{ share_title }} on Royal Road" href="{{ page.royalroad }}" target="_blank" rel="noopener alternate">
        <img loading="lazy" src="{{ "/proxy/shields/-/royalroad/shield.svg" | absolute_url }}" alt="Royal Road" width="64" height="64">
    </a>
    {% endif %}
    {% if page.scribblehub %}
    <a title="{{ share_title }} on ScribbleHub" href="{{ page.scribblehub }}" target="_blank" rel="noopener alternate">
        <img loading="lazy" src="{{ "/proxy/shields/-/scribblehub/shield.svg" | absolute_url }}" alt="ScribbleHub" width="64" height="64">
    </a>
    {% endif %}
    {% if page.tapas %}
    <a title="{{ share_title }} on tapas" href="{{ page.tapas }}" target="_blank" rel="noopener alternate">
        <img loading="lazy" src="{{ "/proxy/shields/-/tapas/shield.svg" | absolute_url }}" alt="Tapas" width="64" height="64">
    </a>
    {% endif %}
    {% if page.wattpad %}
    <a title="{{ share_title }} on wattpad" href="{{ page.wattpad }}" target="_blank" rel="noopener alternate">
        <img loading="lazy" src="{{ "/proxy/shields/-/wattpad/shield.svg" | absolute_url }}" alt="wattpad" width="64" height="64">
    </a>
    {% endif %}
</div>

<small id="talkify-metadata" class="clearfix" aria-flowto="chapter-content">
        {% assign published = page.date | date: '%s' %}
        {% assign modified = page.last_modified_at | date: '%s' %}
        published&nbsp;on&nbsp;<time pubdate datetime="{{ page.date | date: "%F" }}" class="dt-published">{{ page.date | date: "%A,&nbsp;%F" }}</time>{% unless modified < published %}, last&nbsp;updated&nbsp;on&nbsp;<time datetime="{{ page.last_modified_at | date_to_xmlschema }}" class="dt-updated">{{ page.last_modified_at | date: "%A,&nbsp;%F&nbsp;at&nbsp;%H:%M&nbsp;%Z" }}</time>,{% endunless %}
        {% if page.author %}
        {% assign author = site.data.staff | where: "id", page.author | last %}
        written&nbsp;by&nbsp;{% if author.url %}<a href="{{ author.url }}" target="_blank" rel="author" ref="noopener" class="p-author">{% endif %}{{ author.name }}{% if author.url %}</a>{% endif %}{% endif %}{{ -}}
        {% if page.checker %}, {%if page.checker.size > 1 %}{%endif%}checked&nbsp;with&nbsp;{{ -}}
        {% for e in page.checker %}{% assign editor = site.data.staff | where: "id", e | last %}{% if editor.url %}<a href="{{ editor.url }}" target="_blank" ref="noopener" rel="sponsored">{% endif %}{{ editor.name }}{%  if editor.url %}</a>{% endif %}{% unless forloop.last %}&nbsp;and&nbsp;{% endunless %}{% endfor %}{% endif %}{{ -}}
        {% if page.editor %}, edited&nbsp;by&nbsp;{{ -}}
        {% for e in page.editor %}{% assign editor = site.data.staff | where: "id", e | last %}{% if editor.url %}<a href="{{ editor.url }}" target="_blank" ref="noopener" rel="nofollow">{% endif %}{{ editor.name }}{%  if editor.url %}</a>{% endif %}{% unless forloop.last %}&nbsp;and&nbsp;{% endunless %}{% endfor %}{{ -}}
        {% if page.sponsors %}, sponsored&nbsp;by&nbsp;{{ page.sponsors | array_to_sentence_string }}{% endif %}{% endif %}.&ensp;
    {%- unless page.sponsors -%}
        As&nbsp;always,&nbsp;a&nbsp;big&nbsp;thanks&nbsp;to&nbsp;all&nbsp;Patrons&nbsp;for&nbsp;their&nbsp;support.
    {% endunless %}
</small>


