<div class="policy-banner mx-0" id="policy-banner" data-nosnippet>
  <p class="mx-4 mt-4">
    This site might use Local Storage to improve user experience.
    Until you accept the <a title="Cookie &amp; Privacy Policy" href="{{ "/privacy/" | absolute_url }}" target="_blank" rel="noopener">Cookie &amp; Privacy Policy</a> those features are disabled.
    No Cookies/Data Entries in Local Storage will be set until the policy is accepted.
    Accepting the policy is optional, the site will remain functional if you ignore this.
    However, some features, i.e., Light Mode and Accessibility Features, and will remain inaccessible.
  </p>
  <p class="mx-4 mb-4 d-grid gap-2">
    <a title="Accept All Cookies" class="btn btn-lg btn-green" href="#" onclick="acceptPolicy()"><span class="unicode-icon">✔️</span> <span class="d-none d-lg-inline">I Want the Best Experience and </span>Accept All Local Storage entries<span class="d-none d-lg-inline"> and scripts</span></a>
  </p>
</div>
