<aside class="mx-3" id="comments" aria-hidden="true" data-nosnippet>
{% unless page.slug %}
{% assign slug = page.url | slugify | downcase | replace: '.', '-' | replace: '_' : '-' %}
{% endunless %}
{% assign comments = site.data.comments.[slug] %}
{% assign comment_count = comments | size %}
{% if comment_count > 0 %}
  {% assign author = site.data.staff | where: 'id', page.author | last %}
  <h2>{% if comment_count == 1 %}One Comment{% else %}{{ comment_count }} Comments{% endif %}</h2>
  <ol>
  {% assign sorted_comments = comments | sort: 'date' %}
  {% for comment in sorted_comments %}
    <li{% if comment.email == author.email %} class="by-author" {% endif %}>
      {% include comments/comment.html %}
    </li>
  {% endfor %}
  </ol>
{% endif %}
{% if page.commenting == 'open' %}
  {% include comments/comment-new.html %}
{% endif %}
</aside>

