{% capture now %}{{ 'now' | date: '%s' | plus: 10800 }}{% endcapture %}
<ul style="list-style:none;padding:0">{% for page in pages %}
  {% if page.rating == "adult" %}{% continue %}{% endif %}
  {% capture page_time %}{{ page.date | date: '%s'}}{% endcapture %}
  {% if page_time > now %}{% break %}{% endif %}
  <li><span class="count w-3">{% if page.current_chapters %}{{ page.current_chapters }}{% else %}{{ page.chapter }}{% endif %}.</span> <a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>{% endfor %}
</ul>