{% unless canonical_url %}
  {% capture taglist %}{% for t in page.tags %}{% assign ws = t | split: ' ' %}{% for w in ws %}{{w | capitalize}}{% endfor %}{% unless forloop.last%},{% endunless %}{% endfor %}{% endcapture %}
  {% assign tagwords = page.tags | join: ' ' | split: ' ' %}
  {% assign tumblr_tags = taglist | split: ',' | concat: page.tags | concat: tagwords | uniq %}
  {% assign twitter_tags = taglist | split: ',' | concat: tagwords | uniq %}
  {% capture share_text %}Check out {{ page.title }} on {{ site.title }}!{% endcapture %}
  {% capture tumblr_caption %}{{ share_text }} <br>via <a href="https://{{ site.tumblr.url }}">{{ site.tumblr.url }}</a>{% endcapture %}
  <p>
    Share this post on
  </p>
  <div class="icons">
    <a title="Share Post on Facebook"
      href="https://www.facebook.com/sharer.php?src=bm&u={{ page.url | absolute_url }}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/facebook.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on Facebook">
    </a>
    <a title="Share Post on Twitter"
      href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}%0A%0A&text={{ share_text | url_encode }}%0A%0A&via={{ site.twitter.username }}&hashtags={{ twitter_tags | join: ','}}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/twitter.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on Twitter">
    </a>
    <a title="Share Post on reddit"
      href="https://reddit.com/submit?url={{ page.url | absolute_url }}&title={{ share_text | url_encode }}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/reddit.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on reddit">
    </a>
    <a title="Share Post on Pinterest"
      href="https://pinterest.com/pin/create/button/?url={{ page.url | absolute_url }}&description={{ page.title | url_encode }}&media={{ "/assets/images/site-card.webp" | absolute_url }}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/pinterest.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on Pinterest">
    </a>
    <a title="Share Post on Telegram"
      href="https://telegram.me/share/url?url={{ page.url | absolute_url }}&text={{ page.title | url_encode }}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/telegram.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on Telegram">
    </a>
    <a title="Share Post on WhatsApp"
      href="https://api.whatsapp.com/send?text={{ share_text | url_encode }}%0A%0A{{ page.url | absolute_url }}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/whatsapp.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on WhatsApp">
    </a>
    <a title="Share Post on Tumblr"
      href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ page.url | absolute_url }}&title={{ page.title | url_encode }}&tags={{ tumblr_tags | join: ','| url_encode }}&posttype=link&caption={{ tumblr_caption | url_encode }}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/tumblr.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on Tumblr">
    </a>
    <a title="Share Post on VK" href="https://vk.com/share.php?url={{ page.url | absolute_url }}" target="_blank"
      rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/vk.webp" | prepend: site.static_url | absolute_url }}" alt="Share Post on VK">
    </a>
    <a title="Share Post on Pocket" href="https://getpocket.com/edit?url={{ page.url | absolute_url }}" target="_blank"
      rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/pocket.webp"| prepend: site.static_url | absolute_url }}" alt="Share Post on Pocket">
    </a>
    <a title="Share Post on Mix" href="https://mix.com/mixit?su=submit&url={{ page.url | absolute_url }}"
      target="_blank" rel="noopener nofollow">
      <img loading="lazy" src="{{ "/assets/images/mix.webp"| prepend: site.static_url | absolute_url }}" alt="Share Post on Mix">
    </a>
  </div>
{% endunless %}
